@model SuperService_MVC.Models.ItemViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var numericValidationMessage = "Value must be numeric and none negative";
    var stringValidationMessage = "Allowed special characters: - . , : ! ? &";
    var formattedCost = string.Format("{0:0.00}", Model.Cost);
}
<head>
    <script src="~/js/Scripts/Item/Edit.js"></script>
</head>
<form asp-action="Edit" autocomplete="off">
    <div class="row">
        <h1 id="HeaderDisplay">@Model.Name</h1>
        <h2 id="HeaderEditContainer" hidden="hidden">
            @Html.TextBoxFor(x => x.Name, new { @id = "HeaderEdit", @class = "pb-0 mb-0"})
        </h2>
        <div>
            <a class="" id="HeaderToggle" href="#">
                <i class="fas fa-pencil-alt align-bottom mt-4 ml-1"></i>
            </a>
        </div>
    </div>
    <div class="row">
        @Html.ValidationMessageFor(x => x.Name, stringValidationMessage, new { @class = "validation-err", @id = "HeaderEditValidation", @hidden = "hidden" })
    </div>
    <hr class="row solid" />
    @Html.HiddenFor(x => x.ItemID)
    @Html.HiddenFor(x => x.ItemIngredients)
    <div class="row justify-content-between input-group">
        <label class="col-sm-5">Ingredients</label>
        <label class="col-sm-5">Cost</label>
    </div>
    <div class="row justify-content-between input-group">
        <div class="input-group col-sm-5 pl-0 ml-0 pr-0">
            @Html.ListBoxFor(x => x.IngredientsSelected, Model.IngredientsDropDown, new { @class = "form-control" })
        </div>
        <div class="col-sm-5 input-group pl-0 ml-0 pr-0">
            <div class="input-group-prepend">
                <span class="input-group-text form-control">£</span>
            </div>
            @Html.TextBoxFor(x => x.Cost, formattedCost, new { @class = "form-control", @placeholder = $"{Model.Cost}" })
            <div class="input-group justify-content-end">
                @Html.ValidationMessageFor(x => x.Cost, numericValidationMessage, new { @class = "validation-err", @id = "CostValidation", @hidden = "hidden" })

            </div>
        </div>
    </div>
    <div class="row justify-content-end">
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
</form>

