@model IEnumerable<SuperService_MVC.Models.ItemViewModel>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowCounter = 1;
    string GetIconCSSForItem(ItemViewModel item)
    {
        return item.CanOrder ? "fa-check-circle" : "fa-times-circle";
    }
}
<head>
    <script src="~/js/Scripts/Item/Index.js"></script>
</head>
<body>
    <div class="row justify-content-end">
        <h1 class="col pl-0">Menu</h1>
        <a class="btn btn-primary col-sm-1 mb-2 mt-2 mr-2" href="_blank">
            <i class="fas fa-plus-circle pr-1"></i>
            Order
        </a>
        <a class="btn btn-primary col-sm-1 mb-2 mt-2" asp-action="New">
            <i class="fas fa-plus-circle pr-1"></i>
            Item
        </a>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center"><div>#</div></th>
                    <th class="text-center"><div>Name</div></th>
                    <th class="text-center"><div>Calories</div></th>
                    <th class="text-center"><div>In Stock</div></th>
                    <th class="text-center"><div>Actions</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><div>@rowCounter</div></td>
                        <td><div>@item.Name</div></td>
                        <td><div>@item.Calories</div></td>
                        <td><div class="text-center"><i class="fas fa-check @GetIconCSSForItem(item)"></i></div></td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.ItemID" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-id="@item.ItemID" data-name="@item.Name" data-target="#DeleteModal" data-toggle="modal" href="_blank" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    rowCounter++;
                }
            </tbody>
        </table>
    </div>

    <!--Info Modal-->
    <div class="modal fade" id="InfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="InfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="InfoModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Modal-->
    <div class="modal fade" id="DeleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a id="DeleteModalDelete" type="button" class="btn btn-danger" href="_blank">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>